.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:first-of-type, .items-2 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-2 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-3 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-3 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-3 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-4 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-4 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-4 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-4 .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4), .items-5 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1), .items-5 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2), .items-5 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3), .items-5 .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4), .items-5 .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery .item:first-of-type {
  pointer-events: auto;
  position: static;
  opacity: 1;
}
.gallery .item {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}
.gallery .control-operator {
  display: none;
}
.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  animation: none;
}
.gallery .control-operator:target ~ .controls .control-button {
  animation: none;
}

@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  14.3%,
  50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  64.3%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%,
  50% {
    opacity: 1;
  }

  64.3%,
  100% {
    opacity: 0;
  }
}

.items-2.autoplay .control-button {
  animation: controlAnimation-2 14s infinite;
}
.items-2.autoplay .item {
  animation: galleryAnimation-2 14s infinite;
}
.items-2 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -2s;
}
.items-2 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s;
}

@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  9.5%,
  33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  42.9%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%,
  33.3% {
    opacity: 1;
  }

  42.9%,
  100% {
    opacity: 0;
  }
}

.items-3.autoplay .control-button {
  animation: controlAnimation-3 21s infinite;
}
.items-3.autoplay .item {
  animation: galleryAnimation-3 21s infinite;
}
.items-3 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -2s;
}
.items-3 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s;
}
.items-3 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 12s;
}

@keyframes controlAnimation-4 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  7.1%,
  25% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  32.1%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-4 {
  0% {
    opacity: 0;
  }

  7.1%,
  25% {
    opacity: 1;
  }

  32.1%,
  100% {
    opacity: 0;
  }
}

.items-4.autoplay .control-button {
  animation: controlAnimation-4 28s infinite;
}
.items-4.autoplay .item {
  animation: galleryAnimation-4 28s infinite;
}
.items-4 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
.items-4 .control-button:nth-of-type(1),
.items-4 .item:nth-of-type(1) {
  animation-delay: -2s;
}
.items-4 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.items-4 .control-button:nth-of-type(2),
.items-4 .item:nth-of-type(2) {
  animation-delay: 5s;
}
.items-4 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
.items-4 .control-button:nth-of-type(3),
.items-4 .item:nth-of-type(3) {
  animation-delay: 12s;
}
.items-4 .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}
.items-4 .control-button:nth-of-type(4),
.items-4 .item:nth-of-type(4) {
  animation-delay: 19s;
}

@keyframes controlAnimation-5 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  5.7%,
  20% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  25.7%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-5 {
  0% {
    opacity: 0;
  }

  5.7%,
  20% {
    opacity: 1;
  }

  25.7%,
  100% {
    opacity: 0;
  }
}

.items-5.autoplay .control-button {
  animation: controlAnimation-5 35s infinite;
}
.items-5.autoplay .item {
  animation: galleryAnimation-5 35s infinite;
}
.items-5 .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}
.items-5 .control-button:nth-of-type(1),
.items-5 .item:nth-of-type(1) {
  animation-delay: -2s;
}
.items-5 .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}
.items-5 .control-button:nth-of-type(2),
.items-5 .item:nth-of-type(2) {
  animation-delay: 5s;
}
.items-5 .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}
.items-5 .control-button:nth-of-type(3),
.items-5 .item:nth-of-type(3) {
  animation-delay: 12s;
}
.items-5 .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
  pointer-events: auto;
  opacity: 1;
}
.items-5 .control-button:nth-of-type(4),
.items-5 .item:nth-of-type(4) {
  animation-delay: 19s;
}
.items-5 .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
  pointer-events: auto;
  opacity: 1;
}
.items-5 .control-button:nth-of-type(5),
.items-5 .item:nth-of-type(5) {
  animation-delay: 26s;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-family: "Century Gothic";
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('webfont.woff') format('woff'), /* Modern Browsers */
    url('gothic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#headerArea{
	background-color:black;
	width: 98.35%;
	height: 50px;
	margin-top:-10px;
	padding-left:50px;
	margin-left:-20px;
	border-bottom:1px solid white;
	opacity:0.85;

}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
    heigth: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}
.cadastroBox{

margin-top:30px; margin-left:32%; position:absolute; z-index:2; width:400px; height:520px; background-color:black;
border:1px solid white;

}

.cadastroInput{

	width:150px;
	height:25px;
	color:black;
	font-family:Century Gothic;

}

.moneyBet{
	width:100px;
	height: 50px;
	border: 1px solid black;
	

}

.newsHeader{
	color: white;
	font-family:Century Gothic;
	font-size:15px;
	margin-left:10%;
	margin-top:5%;
	border:1px solid white;
	width:80%;
	height:auto;
	padding-bottom:30px;

}

.fotterArea{
	font-family:Century Gothic;
	font-size:15px;
	background-color:black;
	width: 100%;
	color:white;
	height: 50px;
	padding-left:50px;
	padding-top:-20px;
	margin-left:-20px;
	border-top:1px solid white;
	opacity:0.65;
	filter: alpha(opacity=65);
}

.tittle{

	color: brown;
	font-family:Century Gothic;
	font-size:25px;
	margin-left:5px;

	

}

#loginInfo{
	margin-top:-3px;
	width:auto;
	height:20px;
	font-size:20px


}
#loginArea{
	float:right;
	color: white;
	font-family:Century Gothic;
	font-size:15px;
	padding-top:5px;
	margin-right:30px;

}

.streamers{
	height:110px;
	border-bottom:1px solid white;
	opacity:0.65;
	filter: alpha(opacity=65);

}

.streamers:hover{
	background-color:grey;

}

.grid{
	border:1px solid white;
	float:right;
	margin-right:20px;
	margin-top:30px;
	width: 20%;
	height:50%;
	background-color:black;
	opacity:0.8;
	filter: alpha(opacity=80);
	overflow:auto;

}

.bet{
	color:white;
	font-family:Century Gothic;

}

.carouselFont{

    font-family: Century Gothic;
    font-size:15px;
    color:white;
}

.mainGrid{

	border:1px solid white;
	float:left;
	margin-left:20px;
	margin-top:30px;
	width: 70%;
	height:90%;
	overflow:auto;
	background-color:black;
	opacity:0.8;
	filter: alpha(opacity=80);

}

#headerMenu{
	padding-top:15px;
	padding-right:10px;
}

.loginInput{

	width:100px;

}

.loginText{

	color: white;
	text-shadow: 0 0 1px #000;
	font-family: Verdana;
}

#loginInfo{

	font-family:Century Gothic;
	color:white;
	margin-right:30px;
	padding-top:10px;

}

.betSpace{

	font-family:Century Gothic;
	color:white;


}

.loginButton{

   background: none;
    border: none;
    display: inline;
   font-family:Century Gothic;
   font-size:15px;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
	color:white;
	cursor:pointer;
	margin-left:5px;
	
}

.loginButton:hover{

	background-color:grey;
	
}

#streamGrid{
	font-family:Century Gothic;
	color:white;
	font-size:20px;


}

.headerButton{
   background: none;
    border: none;
    display: inline;
   font-family:Century Gothic;
   font-size:15px;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
	color:white;
	cursor:pointer;
	margin-left:5px;
	

}

.betButton{

	height:40px;
	width:100px;
	font-family:Century Gothic;
	background-color:#64FE2E;
	color: #0E0D0D;
	border:1px black;
}

.betButton:hover{

	background-color: #47bfff;

}



.headerButton:hover{

	background-color: #67ff62;
	

}

#betArea{
	width:100%;
	margin-top:50px;
}